### Predictive Sport: probability of goals, shots, and more 


*Context:* 

A football game generates much more events and it is very important and interesting to take into account the context in which those events were generated. This dataset should keep sports analytics enthusiasts awake for long hours as the number of questions that can be asked is huge.

Read <a href=http://crabstats.blogspot.com/>these blogs</a> to get a good understanding of soccer/football stats 


*Data description:* 

Nearly 25,000 soccer games from all leagues all over the world. The fields in the data set are: Columns A to E contains information about the league, home and away teams, date etc Columns F, G and H contain the odds for the home win, draw and away win Columns I to BQ contain the team statistics. 

Home team stats are prefixed with a "h" similarly, away team stats are prefixed with an "a". Examples include ladder position (which is a term for a rank in a group -  <a href=https://www.flashscore.com.au/football/europe/euro/standings/> here </a> an example), games played, goals conceded, away games won etc. Columns BR to CA contain final result information. That is the result, the full time result and if available, the half time score as well.

For each game there is: 
1. Statistics on the two teams, such as ladder position, win-loss history, games played 
2. Odds for home win, draw, away win (some-times is zero if odds not available) 
3. The result for that game (including the half time result if available

The dataset ranges from January 2016 to October 2017 and the statistics have been sourced from a few different websites. Odds come from BET365 and the results have been manually entered from http://www.soccerstats.com

Get more insight about the columns in the data by hovering your mouth in the names <a href=https://www.soccerstats.com/latest.asp?league=germany3>here</a>

*Data Location:* 
- https://www.kaggle.com/frankpac/soccerdata
- reference for column names
*Motivations:*
1. Predictive Model - if a predictive model can be created from this dataset, or are results completely random! 
2. Probability - Is it possible to calculate the probability of a home win, draw or away win based on this dataset.

#### Objectives:

Exploratory analysis:
- Understand which leagues & teams are represented in this data set - use histograms, pandas groupbys to get ideas on this 
- Does playing at home have a higher chance of winning? What about draws and loses?
- How are predicted odds correlated to final results? 
- How many teams played more than 10 games (at home or away)?
- How are the home or away statistics distributed? Are there imbalance in the data set?
- Be creative and explore the data set, make histograms, line (trend) plots to understand the nature of the data


Predictive analysis: 
- which column has the most missing value (note that the *_odds columns are zero when no data is available) 
- is it feasible to drop all rows with missing values? If not, try to fill missing values with appropriate strategy  
- drop columns with greater than 50% missing values
- consider dropping teams with  
- split the data into training (60%), validation(30%) and test(10%) 
- there are 81 columns, which columns are highly correlated? (you may get insight on this from your exploratory analysis, plotting covariance matrices) 
- create predictive models for football games in order to bet on football outcomes. This involves training a model for a subset of features e.g. (home,odd,ladder), and predicting a target variable e.g. win, draw, loss. Consider the following three algorithms. Comment on the performances if you are able to run two or three of them 
    - random forest classifier
    - xgboost 
    - neural networks
- make visualizations predicted outcomes (wins vs losses) together with the ground truth for the validation set
- make sure your model is not overfitting the training data - the statistical precision you would obtain running your model on the training data should be statistically similar to the validation data. Otherwise, the model is not generalizing (overfitting the training set)  


- Given your exploratory and predictive analysis, comment on what else you can do with the current data?

In [8]:
import pandas as pd
import numpy as np
import os, sys
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
dfball = pd.read_excel('data/SoccerData.xlsx')

In [4]:
dfball.shape

(24830, 81)

In [22]:
dfball.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24830 entries, 0 to 24829
Data columns (total 81 columns):
league           24830 non-null object
teams_no         24830 non-null int64
date             24830 non-null datetime64[ns]
home_team        24830 non-null object
away_team        24830 non-null object
home_odd         24830 non-null float64
draw_odd         24830 non-null float64
away_odd         24830 non-null float64
h_played         24830 non-null int64
a_played         24830 non-null int64
ph_ladder5       24830 non-null int64
ph_ladder4       24830 non-null int64
ph_ladder3       24830 non-null int64
ph_ladder2       24830 non-null int64
ph_ladder1       24830 non-null int64
h_ladder         24830 non-null int64
pa_ladder5       24830 non-null int64
pa_ladder4       24830 non-null int64
pa_ladder3       24830 non-null int64
pa_ladder2       24830 non-null int64
pa_ladder1       24830 non-null int64
a_ladder         24830 non-null int64
h_won            24830 non-null int64
h_drawn          24830 non-null int64
h_lost           24830 non-null int64
h_scored         24830 non-null int64
h_conced         24830 non-null int64
h_points         24830 non-null int64
a_won            24830 non-null int64
a_drawn          24830 non-null int64
a_lost           24830 non-null int64
a_scored         24830 non-null int64
a_conced         24830 non-null int64
a_points         24830 non-null int64
h_ladder_h       24830 non-null int64
h_played_h       24830 non-null int64
h_won_h          24830 non-null int64
h_drawn_h        24830 non-null int64
h_lost_h         24830 non-null int64
h_scored_h       24830 non-null int64
h_conced_h       24830 non-null int64
h_points_h       24830 non-null int64
a_ladder_a       24830 non-null int64
a_played_a       24830 non-null int64
a_won_a          24830 non-null int64
a_drawn_a        24830 non-null int64
a_lost_a         24830 non-null int64
a_scored_a       24830 non-null int64
a_conced_a       24830 non-null int64
a_points_a       24830 non-null int64
h_form           24830 non-null int64
a_form           24830 non-null int64
h_elo            24830 non-null int64
a_elo            24830 non-null int64
h_offensiv       24830 non-null int64
h_defensiv       24830 non-null int64
a_offensiv       24830 non-null int64
a_defensiv       24830 non-null int64
h_clean          24830 non-null float64
a_clean          24830 non-null float64
h_fail           24830 non-null float64
a_fail           24830 non-null float64
h_clean_h        24830 non-null float64
a_clean_a        24830 non-null float64
h_fail_h         24830 non-null float64
a_fail_a         24830 non-null float64
h_goal_signal    23823 non-null float64
a_goal_signal    23834 non-null float64
Ladder_signal    24830 non-null int64
RESULT           24830 non-null object
h_final          24830 non-null object
a_final          24820 non-null float64
h_half           15729 non-null float64
a_half           15729 non-null float64
BTS              24830 non-null int64
H1H              17365 non-null float64
A1H              17365 non-null float64
H2H              17365 non-null float64
A2H              17365 non-null float64
Unnamed: 79      262 non-null object
Unnamed: 80      262 non-null object
dtypes: datetime64[ns](1), float64(20), int64(53), object(7)
memory usage: 15.3+ MB

In [26]:
c = ['h_final','a_final','h_form','h_elo','a_drawn','h_played','h_ladder','h_scored_h','h_points_h','h_played_h','h_offensiv','h_clean_h','h_goal_signal']
dfball[c]

,h_final,a_final,h_form,h_elo,a_drawn,h_played,h_ladder,h_scored_h,h_points_h,h_played_h,h_offensiv,h_clean_h,h_goal_signal
0,1,1.0,2,1534,4,19,18,9,13,9,20,55.556,0.444444
1,1,1.0,6,1643,7,19,8,12,16,9,12,44.444,0.444444
2,5,1.0,-12,1589,2,19,10,19,19,10,3,0.000,0.500000
3,2,2.0,-1,1592,4,19,14,9,11,10,14,30.000,0.000000
4,4,1.0,17,1681,6,19,3,17,21,10,4,40.000,0.800000
5,1,0.0,4,1799,7,19,1,17,20,9,2,44.444,1.333333
6,2,0.0,0,1514,5,19,19,9,10,9,10,22.222,-0.111111
7,1,3.0,-11,1529,9,19,20,7,9,10,19,30.000,-0.200000
8,2,0.0,6,2224,4,19,1,27,22,8,1,37.500,2.625000
9,1,0.0,7,1637,7,19,4,13,18,9,6,55.556,1.000000
10,3,1.0,-10,1094,7,28,17,12,14,14,17,21.429,-0.571429
11,2,0.0,10,1836,3,19,3,6,15,10,17,70.000,0.200000
12,0,0.0,-17,0,4,15,7,8,11,7,8,14.286,0.000000
13,4,0.0,-6,2162,5,17,2,28,25,9,2,44.444,2.333333
14,1,0.0,-14,1179,4,25,18,21,23,12,13,41.667,0.666667
15,3,4.0,11,1131,8,27,16,19,24,12,15,33.333,0.500000
16,2,3.0,-12,1528,4,23,18,15,22,12,15,41.667,0.083333
17,0,0.0,-3,1152,8,27,20,13,13,14,22,28.571,-0.214286
18,0,1.0,-4,1351,3,23,12,11,16,10,22,40.000,0.200000
19,1,3.0,17,1661,10,23,6,12,21,12,10,58.333,0.416667
20,0,0.0,-28,1177,6,26,13,25,20,12,3,33.333,0.833333
21,2,1.0,4,1672,3,18,19,7,6,9,19,33.333,-0.444444
22,5,2.0,-9,1468,8,23,23,13,10,11,11,9.091,-0.727273
23,1,0.0,-15,1170,6,25,14,15,20,12,17,25.000,0.000000
24,2,0.0,6,1881,4,18,9,19,21,9,8,44.444,1.000000
25,1,3.0,3,2024,3,18,2,20,22,9,1,66.667,1.666667
26,1,0.0,9,1735,5,18,13,13,15,9,13,55.556,0.777778
27,1,2.0,4,1612,9,19,6,15,20,9,11,44.444,0.777778
28,2,1.0,-11,1618,3,18,20,7,6,9,20,11.111,-0.777778
29,2,3.0,-17,1212,7,28,8,20,21,13,10,23.077,0.538462
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24800,2,4.0,5,2042,0,9,3,7,5,4,0,0.000,0.500000
24801,1,1.0,-5,1809,5,30,17,16,9,15,0,13.333,-0.666667
24802,0,2.0,-10,1732,1,12,8,7,11,6,0,50.000,0.333333
24803,5,1.0,4,2060,4,12,1,18,15,6,0,50.000,2.000000
24804,0,1.0,-10,1908,1,14,12,6,6,6,0,33.333,-0.166667
24805,2,2.0,4,2055,7,13,6,10,6,6,0,33.333,0.333333
24806,2,1.0,13,2167,10,28,2,19,23,14,0,42.857,0.571429
24807,1,1.0,-15,1937,3,14,11,9,10,7,0,42.857,0.142857
24808,0,0.0,6,1576,1,11,13,8,9,5,0,40.000,0.600000
24809,3,1.0,10,2066,5,13,3,20,19,7,0,71.429,2.285714
24810,1,1.0,2,1750,2,9,8,2,5,4,0,50.000,0.000000
24811,0,0.0,6,1529,0,12,14,7,9,5,0,20.000,0.200000
24812,0,1.0,-11,1920,1,13,13,4,7,6,14,66.667,-0.333333
24813,1,1.0,3,1793,1,9,13,6,7,4,0,25.000,0.750000
24814,3,3.0,1,2135,2,9,6,9,7,4,0,0.000,0.500000
24815,1,1.0,9,1841,2,13,9,4,8,6,10,50.000,0.000000
24816,0,5.0,-1,1915,4,13,12,10,6,6,0,16.667,-0.166667
24817,1,3.0,-20,1581,2,9,18,4,3,4,0,25.000,-2.000000
24818,1,1.0,3,1651,5,15,5,15,16,7,0,42.857,1.571429
24819,1,4.0,-11,1868,8,26,11,15,20,13,0,30.769,0.000000
24820,1,2.0,-1,1937,6,13,8,7,10,6,0,33.333,0.000000
24821,2,3.0,13,1636,5,28,12,20,22,14,0,28.571,0.071429
24822,1,2.0,-4,1985,6,28,6,19,23,14,0,42.857,0.285714
24823,0,0.0,10,1711,4,28,4,22,22,14,0,21.429,0.500000
24824,2,2.0,14,1995,8,30,2,24,29,15,0,46.667,0.733333
24825,5,2.0,6,1734,4,9,14,7,7,4,0,0.000,0.250000
24826,0,2.0,-14,1847,4,15,12,5,7,7,0,28.571,-1.142857
24827,0,0.0,3,1528,3,11,19,10,9,6,0,16.667,0.333333
24828,2,1.0,14,1932,3,14,9,6,10,6,0,50.000,-0.166667
24829,1,2.0,0,1644,2,10,18,2,4,5,0,40.000,-1.800000

In [17]:
df = dfball[['home_team','home_odd','h_final']]
df2 = df.groupby('home_team').count()

In [18]:
df2.sort_values('home_odd',ascending=False)

                 home_odd
home_team
Coventry City          45
Red Star               45
Rochdale               43
Oxford Utd             43
Bradford               42
Plymouth               42
Swindon                42
Walsall                42
Accrington             42
Wigan                  42
Bristol Rovers         41
Doncaster              41
Southend               41
Ascoli                 41
MK Dons                41
Brentford              41
Port Vale              41
Wimbledon              41
Millwall               40
Barnet                 40
Crawley                40
Crewe                  40
Rotherham              40
Shrewsbury             40
Blackburn              40
Birmingham             40
Sheff Utd              40
Charlton               40
Gillingham             40
Bristol City           40
...                   ...
Port Talbot             1
Goslar                  1
Cloppenburg             1
Carl Zeiss Jena         1
Liteks Lovetch          1
Petrolul P.             1
FC Neugersdorf          1
Aachen                  1
Hildesheim              1
Velbert                 1
Bautzen                 1
Verl                    1
Berliner AK             1
Gladbach II             1
Dusseldorf II           1
Newi Cefn Druid         1
Vitosha                 1
Drochtersen             1
Norderstedt             1
Auerbach                1
Hertha II               1
Buchbach                1
CA Bastia               1
Wiedenbruck             1
Luneburg                1
Leipzig II              1
Lubeck                  1
Meuselwitz              1
Hamburg II              1
Pandurii                1

[1087 rows x 1 columns]

In [15]:
df2

                     home_odd
home_team
1860 Munich            57.672
A.O Xanthi             13.420
ABC                    16.880
AD Fafe                33.109
AEK Athens             29.313
AFC Eskilstuna          7.010
AIK                    39.377
AZ                      3.100
Aachen                  0.000
Aalborg                50.554
Aalen                  48.143
Aalesund               51.690
Aarhus                 53.026
Aasane                 37.390
Aatvidaberg            40.550
Aberdeen               38.513
Aberystwyth             9.030
Ac. Viseu              26.791
Academica              75.017
Accrington             77.306
Achilles               70.900
Adanaspor              56.500
Admira                 71.590
Airbus UK              24.930
Ajaccio                69.836
Ajax                   34.650
Akhisar                66.974
Akhmat Grozny           7.468
Alanyaspor             43.443
Alaves                 90.725
...                       ...
Wolfsburg              60.499
Wolfsburg II            0.000
Wolves                 72.979
Wrexham                63.884
Wycombe                74.051
Xanthi FC               2.300
Xanthi Skoda            7.721
Yanbian                49.740
Yeovil                 51.380
Yokohama               48.602
York                   80.624
Young Boys Bern        32.976
Zaglebie Lubin         40.881
Zagreb                 25.344
Zaragoza               52.077
Zavrc                   2.100
Zbrojovka Brno          6.830
Zemplin Michalovce     36.530
Zemun                  14.000
Zilina                 24.910
Zirka Kirovohrad       30.900
Zirka Kropyvnytskyi    14.650
Zlate Moravce          39.540
Zorya Lugansk          25.940
Zulte                  36.564
Zurich                 25.984
Zweigen K              34.360
Zwickau                35.923
Zwiegen K              27.440
Zwolle                 70.620

[1087 rows x 1 columns]